# IDE settings
.idea/
.vscode/

# Python bytecodes
*__pycache__/

# Cache directories
*cache/

# Pytest coverage
.coverage

# Nuitka build directories
*build/
*onefile-build/
*dist/

# Static built documentation site
site/
docs/reference/api/

# Hermes agent
.hermes/
IDEA.md
